{% extends 'base.html' %}
{% block content %}
    <h3>All_orders</h3>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">created</th>
                <th scope="col">updated</th>
                <th scope="col">paid</th>
                <th scope="col">discount</th>
            </tr>
        </thead>
        <tbody>
        {% for i in orders %}
            <tr>
                <th scope="row"><a href="{% url 'orders:show_detail_order' i.id %}">{{i.id}}</a></th>
                <td>{{i.created}}</td>
                <td>{{i.updated}}</td>
                {% if i.paid %}
                    <td style="color: #006b1b; font-family: 'B Titr'">ok</td>
                {% else %}
                    <td>ko</td>
                {% endif %}
                <td>{{i.discount}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}